@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');


$mycolor:black;

h1{
    color: $mycolor;
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    font-family: RANCHERS;
    letter-spacing: 15px;
}   